bin/
dist/
modules-dev/
/pkg/
.vagrant/
.terraform/
.idea

*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
*.backup
./*.tfstate
*.log
*.bak
*~
.*.swp
*.iml
*.test
*.iml

# Binaries
terraform-provider-cloudconnexa
main

# Keep windows files with windows line endings
*.winfile eol=crlf

.terraform**
terraform.tfstate**
*.tfvars

*.env